<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="css/myCss.css">
	</head>

	<body>
		<div id="app">
			<el-container>
				<el-header>

					<el-menu default-active="1" class="el-menu-demo" mode="horizontal" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
						<el-menu-item index="1">首页</el-menu-item>
						<el-menu-item index="2">
							<a href="http://mirror1024.github.io/txt.demo/jj.html" target="_blank">晋江小工具</a>
						</el-menu-item>
						<el-menu-item index="3">
							<a href="http://www.xuanpai.com/tool/names" target="_blank">玄派自动取名</a>
						</el-menu-item>

						<el-menu-item index="4">
							<a href="https://docs.qq.com/doc/DVVBzb2hUYnRLUkRB" target="_blank">在线心得分享</a>
						</el-menu-item>
						<el-menu-item index="5">
							<a href="https://docs.qq.com/doc/DUk56anpacHZsdmNO" target="_blank">晋江Q&A</a>
						</el-menu-item>

						<el-menu-item index="6">
							<a href="https://docs.qq.com/doc/DUklaTEp3WWVXWW9l" target="_blank">历史群公告</a>
						</el-menu-item>
					</el-menu>

				</el-header>
				<el-container>

					<el-container>

						<el-main>

							<el-card class="box-card">
								<div slot="header" class="clearfix">
									<i class="el-icon-warning"></i><span>群规定</span>
									<el-button style="float: right;" type="text" class="button" @click="dialogUserListVisible = true">成员名单</el-button>

									<el-dialog :title="'成员名单-'+userList.length+'人，等你加入~'" :visible.sync="dialogUserListVisible">
										<el-table :data="userList">

											<el-table-column label="姓名" width="200">
												<template slot-scope="scope">
													<div>{{scope.row.userName|getPinYIn }}</div>
													
												</template>
												
											</el-table-column>
											

											<el-table-column label="作品">
												<template slot-scope="scope">
													<div v-for="item in scope.row.books">
														<a class="a-book" :href="item.bookUrl" target="_blank"> {{item.bookName}}({{ item.endDate?"已完结":"连载中" }})</a>
													</div>

												</template>

											</el-table-column>
											
											<el-table-column label="完成字数">
												<template slot-scope="scope">
													 <div>{{scope.row.sumnum }}</div>
												</template>
											
											</el-table-column>
										</el-table>
									</el-dialog>

								</div>
								<div>
									为了更好地督促大家码字，年底会再大清理一遍，deadline是12月31日24:00，到时候以八月为界限， 八月后（包括八月）进群的，需要交三万字，如果是从未动过笔的萌新，大纲资料和笔记的字数也算在内，其他人不许调皮不要放松自己； 八月前进群的，不管是不是萌新，均需交至少三万正文字数，如果觉得自己做不到，现在就可以退了。
									<br /> 请假在备考和复习的同学们，记好自己的回归日期，你们也在考核范围内，要求是5000到一万，资料也算，至少证明你们心里记着这事，没有放弃。 现在离年底还有三个半月，我相信大家抽得出时间写这几千几万字。
									<br /> 最后，祝大家都能“金榜”题名～

								</div>
							</el-card>

							<el-card class="box-card">
								<div slot="header" class="clearfix">
									<i class="el-icon-warning"></i><span>资料上传和作品上榜规定</span>
								</div>
								<div>
									为了大家的共同进步和发展，鼓励大家将自己手上的精品资料进行共享。同样的，也将会在每一条资料后面标注出共享人的作品进行宣传。
									<br /> 共享方式——将资料通过邮件附件的形式发送到mirror_xtj@163.com，同时标注“笔名”“作品名”“作品链接”。
									<br />
									<div class="line"></div>
									同时，有新作发表、旧作完结的朋友们也请通过邮件的形式发送到mirror_xtj@163.com，标注“笔名”“作品名”“作品链接”，会根据时间进行作品展示。
									<br /> 入V的朋友请在入V三天前发送邮件提醒，网站将在右上角进行3天的大图宣传。
									<div class="line"></div>
									心得分享可直接点击菜单栏的“心得分享”进行在线编辑、贴图。
								</div>
							</el-card>

							<el-tabs v-model="listType" @tab-click="handleClick">

								<el-tab-pane label="古代" name="古代"></el-tab-pane>
								<el-tab-pane label="现代" name="现代"></el-tab-pane>
								<el-tab-pane label="玄幻" name="玄幻"></el-tab-pane>

								<el-tab-pane label="大纲" name="大纲"></el-tab-pane>
								<el-tab-pane label="情节" name="情节"></el-tab-pane>
								<el-tab-pane label="经验" name="经验"></el-tab-pane>
								<el-tab-pane label="个人分享" name="个人分享"></el-tab-pane>
							</el-tabs>

							<el-table :data="showFilesLis" stripe style="width: 100%">
								<el-table-column prop="uploadDate" label="日期" width="180">
								</el-table-column>

								<el-table-column prop="fileName" label="内容">
								</el-table-column>

								<el-table-column label="操作" width="100">
									<template slot-scope="scope">
										<el-button type="text" size="small" @click="downLoadFile(scope.row)">下载</el-button>
									</template>
								</el-table-column>

								<el-table-column label="贡献人" width="250">

									<template slot-scope="scope">

										{{ scope.row.userName }}<br/>
										<a class="a-book" :href="scope.row.bookUrl" target="_blank"> {{ scope.row.bookName }}</a>

									</template>

								</el-table-column>
							</el-table>

						</el-main>

						<el-footer>本网站只做学习共享的用途，侵删。All Rights Reserved.<a href="http://www.jjwxc.net/oneauthor.php?authorid=2217461">沐小烦</a> 版权所有。</el-footer>
					</el-container>

					<el-aside width="300px">
						<!--今日入V-->
						<el-card class="box-card">
							<div slot="header" class="clearfix">
								<i class="el-icon-star-off"></i><span>今日入V</span>
							</div>

							<div style="width:250px;">
								<div style="float:left; clear: both;" align="center">
									<img src="http://wx3.sinaimg.cn/mw690/6c167ecegy1fupjgvqnmbj207l0aldk3.jpg" width="120" alt="" hspace="8"><br />《书名》
								</div>
								内容提要内容提要内容提要内容提要内容提要内容提要内容提要内容提要内容提要内容提要内容提要内容提要内容提要局要内容提要内容提要内容提要内容提要内容提要内容提要内
							</div>

							<el-button type="text" class="button">支持</el-button>

						</el-card>
						<!--今日入V-->
						<!--最近发表-->
						<el-card class="box-card">
							<div slot="header" class="clearfix">
								<i class="el-icon-edit-outline"></i><span>最近发表</span>
							</div>
							<div v-for="o in unEndBooks" :key="o" class="text item">
								<a class="a-book" :href="o.bookUrl" target="_blank">{{o.bookName+'-'+o.userName }}</a>
							</div>
						</el-card>
						<!--最近发表-->
						<!--最近完结-->
						<el-card class="box-card">
							<div slot="header" class="clearfix">
								<i class="el-icon-time"></i><span>最近完结</span>
							</div>
							<div v-for="o in endBooks" class="text item">
								<a class="a-book" :href="o.bookUrl" target="_blank">{{o.bookName+'-'+o.userName }}</a>
							</div>
						</el-card>
						<!--最近完结-->
					</el-aside>
				</el-container>

			</el-container>
		</div>

		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan id='cnzz_stat_icon_1275418135'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/z_stat.php%3Fid%3D1275418135%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
		</script>

	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="blabla.js"></script>

</html>